<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end" alt="Thumbnail"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary">
          <app-rating [value]="book.rating"></app-rating>
        </span>
      </h2>
    </div>
    <p>{{ book.description }}</p>
    <p>Preis: {{ book.price | currency:'EUR' }}</p>

    <div>
      <ng-container *ngFor="let a of book.authors; last as last">{{ a }}<ng-container *ngIf="!last">, </ng-container>
      </ng-container>
    </div>

    <p>Autoren: {{ book.authors.join(', ') }}</p>

    <button type="button" [disabled]="book.rating >= maxRating" class="btn btn-green" (click)="doRateUp()"> + </button>
    <button type="button" [disabled]="book.rating <= minRating" class="btn btn-red" (click)="doRateDown()"> – </button>
  </div>
</div>
